@model Heber_Camping.Models.Request

@{
    ViewBag.Title = "Anfrage";
}

<h2>Anfrage</h2>

@using (Html.BeginForm())
{
    <p>
        <!-- @Html.ValidationSummary() -->
    </p>
    <table>
        <thead>
            <tr>
                <td colspan="2">Anfrage</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(r => r.Firstname, "Vorname:* ")</td>
                <td>
                    @Html.TextBoxFor(r => r.Firstname, new { required = "required" }) <br />
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(r => r.Lastname, "Nachname:* ")</td>
                <td>
                    @Html.TextBoxFor(r => r.Lastname, new { required = "required" }) <br />
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.Email, "E-Mail*: ")</td>
                <td>@Html.TextBoxFor(r => r.Email, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.Telnum, "Telefonnummer*: ")</td>
                <td>@Html.TextBoxFor(r => r.Telnum, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.DateArrival, "Datum der Ankunft*: ")</td>
                <td>@Html.TextBoxFor(r => r.DateArrival, new { type = "date" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.DateDeparture, "Datum der Abreise*: ")</td>
                <td>@Html.TextBoxFor(r => r.DateDeparture, new { type = "date" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.CountOfPeople, "Anzahl der Personen:* ")</td>
                <td>@Html.TextBoxFor(r => r.CountOfPeople, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(r => r.Comments, "Anmerkungen: ")</td>
                <td>@Html.TextBoxFor(r => r.Comments, new { type = "text" })</td>
            </tr>


            <tr>
                <td colspan="2" style=" text-align:center">
                    <input type="submit" value="absenden" id="btnSubmit" />
                    <input type="reset" value="Daten zurücksetzen" id="btnReset" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">* sind Pflichtfelder</td>
            </tr>
        </tfoot>


    </table>
}
