<ul>
    <li class="nav_level1">@Html.ActionLink("Login", "login", "benutzerverwaltung")</li>
    <li class="nav_level1">@Html.ActionLink("Registrierung", "registrierung", "benutzerverwaltung")</li>


    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Über Uns", "about", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Impressum", "impressum", "home")</li>

    <li class="nav_level1">@Html.ActionLink("Campingplatz", "standard", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Infos", "infos", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Preise", "preise", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Bilder", "bilder", "campingplatz")</li>

    <li class="nav_level1">@Html.ActionLink("Reservierung", "reservierung", "reservierung")</li>
    <li class="nav_level2">@Html.ActionLink("Anfrage", "anfrage", "reservierung")</li>

    <li class="nav_level1">@Html.ActionLink("Admin", "admin", "benutzerverwaltung")</li>
    <li class="nav_level2">@Html.ActionLink("Reservierungsanfragen", "reservierungen", "benutzerverwaltung")</li>
    <li class="nav_level2">@Html.ActionLink("registrierte Benutzer", "registrierteBenutzer", "benutzerverwaltung")</li>


</ul>
